html {
  height: 100%;
}

body {
  background: #314755; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #26a0da,
    #314755
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #26a0da,
    #314755
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  margin: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-weight: 300;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.task {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 10px 10px 25px;
  border-bottom: 1px #ccc solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskForm {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 0px 10px 25px;
  border: 0;
  height: 25px;
  width: 96.5%;
  color: white;
  border-bottom: 1px #ccc solid;
}

.taskForm.edit {
  background-color: rgba(255, 251, 23, 0.5);
}

.title {
  padding: 10px 10px 10px 25px;
}

.subtitle {
  margin: 5px;
  padding: 10px 10px 10px 25px;
}

.btn {
  color: white;
  font-size: 10px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: rgb(138, 161, 184);
  border: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn.toggleStatus {
  width: 75px;
}

.btn:hover {
  background-color:#26a0da;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn.rnd {
  border-radius: 12px;
  width: 25px;
  height: 25px
}
